@import url(./fonts.css);
:root {
    --primary-color: #ff8b38;
}

* {
    margin: 0;
    font-weight: 400;
    }
body {
    color:#86878b;
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
}
h2 {
    color: #212121;
    text-transform: uppercase;
    font-family: 'Raleway Light', sans-serif;
    font-size:35px;
    text-align: center;
    margin-bottom: 24px;
}
h2:after{
    content:'';
    display:block;
    width:64px;
    height:2px;
    background-color: var(--primary-color);
    margin: 22px auto 0;
}
h2._left:after{
    margin: 0;
}
h2._left{
    text-align: left;
}
h2._white:after{
    background-color: #ffffff;
}
h2._white {
    color: #ffffff;
}
h3{
    font-size: 20px;
    font-weight: 700;
    color: #333333;
}
a {text-decoration: none;
    color: #ffffff;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 110px 0;
}
.benefit{
    text-align: center;
}
.row{
     display: flex;
     justify-content: space-between;
     margin: 0 -20px;
}
.cell{
    padding: 0 20px;
}
.benefit_image{
    font-size: 32px;
    color: var(--primary-color);
}
.benefit_p{
    margin-bottom:80px;
}
.benefit_image-wrap{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 68px;
    margin-bottom: 22px;
    border:2px solid var(--primary-color);
    border-radius: 50%;
}
.benefit_h3{
    margin-bottom: 22px;
}
.mirror{
    transform: scale(-1, 1);
}
.custom
{
    background-image: url("../images/u25_state0.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 320px;
}


.black {
    background-color: rgba(0, 0, 0, 0.6);
    height:100%;
    width: 100%;
}
.design{
    text-align: center;
    padding: 74px 0 60px;
    height: 315px;
}

.design_p{
    font-family:'Raleway Light' , sans-serif;
    color: #86878b;
    /*opacity: 60%;*/
    font-size: 16px;
}
.download {
    display:inline-flex;
    align-items: center;
    justify-content: center;
    width:130px;
    height:38px;
    border: 2px solid #ffffff;
    margin: 37px auto 0;

}
.gradientblack{background-color: #000000;
    height:100px;
    background-size: cover;
}
.footer{
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
   }
.footer_image{
    font-size: 24px;
    color:#86878b;
}
.footer_image-wrap{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 28px;}
    /*margin-left: -9px;}*/
.footer_row{
    display: flex;
    justify-content: space-between;
    margin-top: 37px}
.footer_cell{
    display: flex;
}
/*.footer_image-wrap+.footer_image-wrap{*/
/*    padding-left: 31px;*/
/*    padding-bottom: 8px;*/
/*}*/
.footer_p{
    color: #86878b;
    font-size: 12px;
    padding: 9px;
}